header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./header.jpg");
  filter: contrast(90%);
  filter: brightness(130%);
  height: 170px;

}


h1{
    color:rgb(64, 203, 150);
    text-align: center;
    padding:10px;
}

h2{
    color:rgb(87, 86, 86);
    margin-top:10px;
    padding-top: 15px;


}

h3{
    color:#870FE6;
    margin:10px;
    padding:15px;
}

p{
    margin:10px;
    padding:15px;
}

button{
    background-color: blue;
    color:white;
    text-align: center;
    border-radius: 4px;
    padding:3px;
    margin:10px;
}

button:hover{
    background-color:white;
    color:blue;
    text-align: center;
    border-radius: 4px;
    margin:10px;
}


hr{
    color: #870FE6;
}


table {
        border: 1px solid lightslategray;
        background-color: #ededed;
      }

      td {
        border-top: 1px solid grey;
        border-right: 1px solid grey;
      }
      thead {
        background-color: #ededed;
      }

    
      
    pre{
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 15px;
      font-size: 15px;
    }



.container{
    padding:15px;
    margin:10px;
}

.left{
    color:white;
    text-align: left;
}

.title{
    color:rgb(95, 93, 93);
    text-align: center;
    padding: 10px;
    margin:15px;
    font-size: 40px;
    font-family: cursive;

}

.example{
    color:rgb(47, 144, 111);
    font-weight: 600;
    border:1px solid rgb(175, 173, 173);
    border-radius: 4px;
    background: rgb(225, 223, 223);
    max-width: 110px;
    padding:15px;
}

.red{
    color:red;
    font-weight: bolder;
}

.notDot{
    list-style: none;
}
.tablePropr{
  padding-left:30px;
}

.table-container {
        overflow-x: auto;
      }
  
      
      
.note{
        background-color: rgb(238, 238, 145);
      }

.one{
  padding:15px;
  border:1 solid grey;
  background-color: rgb(222, 217, 217);
  max-width: 500px;
}

.two{
  padding:15px;
  border:1 solid grey;
  background-color:rgb(209, 242, 159);
  max-width: 500px;
}